@font-face{
	font-family : koaroo;
	src : url(/pensieve/demo/assets/fonts/KOAROOMedium.woff2);
	font-weight : 500
}

@font-face{
	font-family : FuturaCyrillicLight;
	src : url(/pensieve/demo/assets/fonts/FuturaCyrillicLight.woff);
	font-weight : 700
}
@font-face{
	font-family : FuturaCyrillicMedium;
	src : url(/pensieve/demo/assets/fonts/FuturaCyrillicMedium.woff);
	font-weight : 700
}
@font-face{
	font-family : FuturaCyrillicBold;
	src : url(/pensieve/demo/assets/fonts/FuturaCyrillicBold.woff);
	font-weight : 700
}
*{margin : 0;padding : 0;box-sizing: border-box;font-family : pretendard;}
li{list-style: none;}
a{text-decoration: none;color : inherit}
img{display: block;max-width: 100%;}

.moView{display: none !important}

/* 마우스오버 ANIMATION CSS */
.hover_ani{position:relative;/*width:500px;height:500px;*/}
.hover_ani>span.line{position:absolute;transition:width .5s,height .5s;background:#111;z-index: 10;}
.hover_ani>span.line:nth-child(1){width:0px;height:1px;left:0;top:0;}
.hover_ani>span.line:nth-child(2){width:1px;height:0px;right:0;top:0;}
.hover_ani>span.line:nth-child(3){width:0px;height:1px;right:0;bottom:0;}
.hover_ani>span.line:nth-child(4){width:1px;height:0px;left:0;bottom:0;}
.hover_ani:hover>span.line:nth-child(1),.hover_ani:hover>span.line:nth-child(3){width:100%;height:1px;}
.hover_ani:hover>span.line:nth-child(2),.hover_ani:hover>span.line:nth-child(4){width:1px;height:100%;}
/* 마우스오버 ANIMATION CSS END*/

.header{width : 100%;height : 100px;position : fixed;left : 0;top : 0;background : rgba(255,255,255,0);z-index: 1001;border-bottom : 1px solid transparent;transition : background .5s, border-color .5s, opacity 1.2s;padding : 0 90px;}
.header::after{position : absolute;content : '';width : 100%;height : 0;background : #fff;top : calc(100% + 1px);left : 0;transition : height .5s;z-index : -1;}
.header.on{background : #fff;border-bottom : 1px solid rgba(0,0,0,0.2);}
.header.hide{opacity : 0 !important;pointer-events : none;}
.header.on::after{height :180px;}
.header.sub{position : absolute;border-bottom : 1px solid rgba(0,0,0,0.2)}
.header-inner{display: flex;align-items: center;justify-content: space-between;width : 100%;max-width: 1740px;height : 100%;margin : 0 auto;}
.header-right{display: flex;align-items: center;gap : 39px;flex-shrink: 0;}

.customer{display: flex;align-items: center;gap : 10px;font-size: 15px;color : #fff;transition: color .5s;font-weight: 500;font-family: pretendard;}
.header.dark .customer{color : #000}
.header.sub .customer{color : #fff}
.header.white .customer{color : #fff}
.header.on .customer{color : #000}
.customer-icon{width : 21px;height : 20px;background: url(/pensieve/demo/assets/images/common/customer-icon.png)no-repeat center / contain; transition : background .5s;}
.header.sub .customer-icon{filter : brightness(100)}
.header.on .customer-icon{filter : brightness(1)}
.header-tel{display: flex;align-items: center;gap : 10px;font-size: 21px;color : #fff;transition: color .5s;}
.header-tel-icon{width : 40px;height : 40px;background: url(/pensieve/demo/assets/images/common/header-tel-icon.png)no-repeat center / contain; transition : background .5s;}
.header.dark .header-tel-icon{background: url(/pensieve/demo/assets/images/common/header-tel-icon-dark.png)no-repeat center / contain;}
.header-tel > span{font-family: futura-pt-bold;font-weight: 700;}
.header.white .header-tel{color : #fff;}
.header.dark .header-tel{color : #000;}
.header.sub .header-tel{color : #fff;}
.header.on .header-tel{color : #000;}
.main-logo{width : 196px;height : 25px;background : url(/pensieve/demo/assets/images/common/logo.png)no-repeat center;background-size: contain;transition : background .5s;flex-shrink : 0;}
.header.dark .main-logo{background : url(/pensieve/demo/assets/images/common/logo-color.png)no-repeat center;background-size: contain;}
.header.sub .main-logo{background : url(/pensieve/demo/assets/images/common/logo.png)no-repeat center;background-size: contain;}
.header.active .main-logo{background : url(/pensieve/demo/assets/images/common/logo-color.png?v=1)no-repeat center;background-size: contain;}
.header.on .main-logo{background : url(/pensieve/demo/assets/images/common/logo-color.png)no-repeat center;background-size: contain;}
.main-logo > a{display: block;width : 100%;height : 100%;font-size: 0;line-height: 0;color : transparent;}
.header-nav{display: flex;justify-content: center;height : 100%; font-family: pretendard;}
.header-nav > ul{display: flex;align-items: center;height : 100%;white-space : nowrap;}
.header-nav > ul > li{display : flex;justify-content : center;height : 100%;position : relative;}
.header-nav > ul > li > a{display: flex;align-items: center;height : 100%;padding : 0 20px;font-size: 15px;letter-spacing: 2px;color : #fff;position : relative;transition: color .5s;font-weight: 500; }
.header.sub .header-nav > ul > li > a{color : #fff;}
.header.dark .header-nav > ul > li > a{color : #000;}
.header.white .header-nav > ul > li > a{color : #fff;}
.header.on .header-nav > ul > li > a{color : #000;}
.header.on .header-nav > ul > li:hover > a{font-weight: 700;}
.header-nav > ul > li > a::after{position : absolute;content : '';left : 50%;top : 0;width : 1px;height : 0;background : #af8b5c;transform: translateX(-50%);transition : height .5s, background .5s;}
.header-nav > ul > li:hover > a::after{height : 20px;}
.header-nav > ul > li > a::before{position : absolute;content : '';width : 5px;height : 5px;background : #af8b5c;border-radius: 50%;top : 20px;left : 50%;transform: translateX(-50%) scale(0);transition : transform .5s, background .5s;}
.header-nav > ul > li:hover > a::before{transform: translateX(-50%) scale(1);}
.header-nav > ul > li > ul {position : absolute;top : 100%;padding : 20px 0 0;opacity : 0;pointer-events : none;transition : opacity .5s;}
.header.on .header-nav > ul > li > ul{opacity : 1;pointer-events : all;}
.header-nav > ul > li > ul > li > a{display : block;color : #000;font-size : 14px;text-align : center;padding : 6px 0;letter-spacing : -0.04em;}
.header-nav > ul > li > ul > li > a:hover{font-weight : 500;}

.bap-bar-box{display : flex;flex-wrap : wrap;align-items : center;align-content : center;justify-content : center;gap : 14px;font-size : 12px;font-weight : 500;white-space : nowrap;color : #fff;}
.header.on .header-box .bap-bar-box{color : #525252;}
.bap-bar-box .bap-bar{display : flex;align-items : end;justify-content : space-between;width : 22px;height : 18px;letter-spacing : -0.06em;}
.bap-bar-box .bap-bar > span{width : 2px;height : 2px;background : #fff;}
.bap-bar-box.on .bap-bar > span{animation : bap-bar .7s infinite linear alternate;}
.header.on .header-box .bap-bar-box .bap-bar > span{background : #525252;}
@keyframes bap-bar{
	0%{
	height : 50%;
	}
	50%{
	height : 100%;
	}
	100%{
	height : 10%;
	}
}
.bap-bar-box .bap-bar > span:nth-child(1){animation-delay : .2s;}
.bap-bar-box .bap-bar > span:nth-child(2){animation-delay : .0s;}
.bap-bar-box .bap-bar > span:nth-child(3){animation-delay : .5s;}
.bap-bar-box .bap-bar > span:nth-child(4){animation-delay : .4s;}
.bap-bar-box .bap-bar > span:nth-child(5){animation-delay : .1s;}
.bap-bar-box .toggle{display : flex;align-items : center;justify-content : space-between;background : rgba(255,255,255,0.48);width : 72px;height : 16px;border-radius : 30px;position : relative;padding : 0 9px;cursor : pointer;}
.bap-bar-box .toggle > span{display : inline-block;position : relative;z-index : 1;font-size : 12px;line-height : 0;color : #032944;}
.bap-bar-box .toggle > span:nth-child(1){color : #032944;}
.bap-bar-box .toggle > span:nth-child(2){color : #fff}
.bap-bar-box.on .toggle > span:nth-child(1){color : #fff}
.bap-bar-box.on .toggle > span:nth-child(2){color : #032944;}
.bap-bar-box .toggle > div{position : absolute;width : 38px;height : 100%;background : #032944;border-radius : 30px;right : 0;z-index : 0;transition : .5s;}
.bap-bar-box.on .toggle > div{right : 100%;transform : translateX(100%);}

.header.sub .bap-bar-box{display : none;}

/*
.header{position : fixed;left : 0;top : 0;width : 100%;z-index : 1000;transition : transform 1s;}
.header.sub{position : absolute;}
.header.hide{transform : translateY(-100%);}
.header::after{position : absolute;content : '';width : 100%;height : 0;top : 0;left : 0; background: #fff;opacity : 0;transition : height 0.7s, opacity 0.7s;z-index : -10;}
.header.on::after{height : 350px;opacity : 1;}
.main-logo{width : 241px;height : 25px;background : url(/pensieve/demo/assets/images/common/logo.png)no-repeat center / contain;transition : background .5s;flex-shrink : 0;}
.header.dark .main-logo{background : url(/pensieve/demo/assets/images/common/logo-color.png)no-repeat center / contain;}
.header.sub .main-logo{background : url(/pensieve/demo/assets/images/common/logo-color.png)no-repeat center / contain;}
.header.on .main-logo{background : url(/pensieve/demo/assets/images/common/logo-color.png)no-repeat center / contain;}
.header.active .main-logo{background : url(/pensieve/demo/assets/images/common/logo-color.png)no-repeat center / contain;}
.main-logo > a{font-size : 0; color : transparent; line-height : 0;display : block;width : 100%;height : 100%;}
.header-inner{display : flex; justify-content : center; align-items : end;width : 100%;max-width : 1700px;margin : 0 auto;height : 130px;position : relative;padding-bottom: 40px;}
.header-right{display : flex; position : absolute;right : 0; gap : 10px;    align-items: center;}
.header-nav{display : flex; justify-content : center;position : relative;z-index : 1;}
.header-nav > ul{display : flex; justify-content : center;}
.header-nav > ul > li{display : flex;justify-content : center; position : relative;}
.header-nav > ul > li > a{display : block; font-weight: 700;font-size: 18px;padding : 0 50px;color : #fff;transition : color .5s;letter-spacing : -0.04em;font-family : Noto Sans KR}
.header.dark .header-nav > ul > li > a{color : #333;}
.header.sub .header-nav > ul > li > a{color : #333;}
.header.on .header-nav > ul > li > a{color : #333;}
.header-nav > ul > li > ul{position : absolute;top : 100%;padding-top: 50px;opacity: 0; transition : opacity .5s;pointer-events : none; text-align: center;}
.header.on .header-nav > ul > li > ul{opacity : 1; pointer-events : all;}
.header-nav > ul > li > ul > li > a{display : block; color : #333; font-size : 16px; font-weight : 400;padding : 7px 0;font-family : Noto Sans KR}
.header-nav > ul > li > ul > li > a:hover{color: #8b2332;text-decoration: underline;}
*/

.customer-icon{width : 21px;height : 20px;background: url(/pensieve/demo/assets/images/common/customer-icon.png)no-repeat center / contain; transition : background .5s;}

.header-tel{position : relative;}
.header-tel > img{position : relative;z-index : 1;}
/* .header-tel::after{display : flex; align-items : center; font-size : 18px; color : #fff;  position : absolute;content : '1866.1900'; background: #af8b5c;width : 100%;height : 100%;right : 0;top : 0;width : 100%;opacity : 0; border-radius : 100px;padding-left: 20px;box-sizing : border-box;overflow : hidden;transition : width 1s, opacity 1s;} */
.header-tel:hover::after{width : 400%;opacity : 1;}



.hamburger{display : none;justify-content: center;align-items: center; position : relative;width : 70px;height : 70px;background: #fff;border-radius: 50%;}
.hamburger > span{width : 55%;height : 2px;background: #000; position : absolute;transition : top .5s, bottom .5s, transform .5s, left .5s, right .5s, width .5s, background .5s}
.hamburger > span:nth-child(1){top : 50%;left: 50%;transform: translateX(-50%) translateY(-600%);}
.hamburger > span:nth-child(2){}
.hamburger > span:nth-child(3){bottom : 50%;right: 50%;transform: translateX(50%) translateY(600%);}
.header.active .hamburger > span:nth-child(1){transform: translateX(-50%) translateY(-50%) rotate(-45deg);background: #03003C;}
.header.active .hamburger > span:nth-child(2){width : 0;}
.header.active .hamburger > span:nth-child(3){bottom : 50%;right: 50%;transform: translateX(50%) translateY(50%) rotate(45deg);background: #03003C;}

.hamburger-nav{ display : none;position : fixed;left : 0;top : 0;width : 100%;max-width : 750px;height : 100%;background : #fff;z-index : 999;padding : 100px 38px 0;transform : translateX(50%);transition : transform .7s;font-family : nanumsquare;left : 50%;}
.header.active + .hamburger-nav{transform : translateX(-50%)}
.hamburger-nav > ul{display : flex;flex-direction : column;justify-content : center;max-height : 80vh;overflow-y : scroll;}
.hamburger-nav > ul > li{margin-bottom : 1px;}
.hamburger-nav > ul > li > a{display : flex; align-items : center;font-weight : 500;letter-spacing : -0.04em;font-size : 18px;;color : #9D9D9D;padding : 30px 0;border-bottom : 1px solid #DEDEDE;position : relative;}
.hamburger-nav > ul > li > a::after{position : absolute;content : '';width : 10px;height : 10px; border-radius : 50%;top : 10px;left : 0;transform : scale(0);transition : transform .5s;background: #03003C;}
.hamburger-nav > ul > li:hover > a::after{transform : scale(1)}
.hamburger-nav > ul > li:hover > a{color : #03003C;border-bottom: 1px solid #03003C;font-weight : 700;}

.hamburger-nav > ul > li > a > span{display : flex; align-items : center; justify-content : center; width : 12px;height : 12px;position : absolute;right : 0;}
.hamburger-nav > ul > li > a > span::before{position :absolute;content : '';width : 100%;height : 2px;background: #111;}
.hamburger-nav > ul > li > a > span::after{position :absolute;content : '';width : 2px;height : 100%;background: #111;transition : transform .5s;}
.hamburger-nav > ul > li.current > a > span::after{transform : rotate(270deg)}
.hamburger-nav > ul > li > ul{display : none;background: #F5F5F5;}
.hamburger-nav > ul > li > ul > li{}
.hamburger-nav > ul > li > ul > li > a{display : block;font-size : 16px;padding : 15px;color : #9D9D9D;letter-spacing: -0.04em;}
.hamburger-nav > ul > li > ul > li:hover > a{color : #171717;font-weight : 700;}
.hamburger-dim{display : block;width : 100%;height : 100%;position : fixed;left : 0;top : 0;background : rgba(0,0,0,0.5);z-index : 998;opacity : 0;pointer-events : none;transition : opacity .7s;}
.header.active ~ .hamburger-dim{opacity : 1;pointer-events : all;}

.hamburger-btn-box{display: flex;position : absolute;left : 0;bottom : 0;width : 100%;border-top: 1px solid #E5E5E5;}
.hamburger-btn-box > a{display: flex;align-items: center;justify-content: center; width : 50%;gap : 14px; font-size: 24px;padding : 6px 0;font-family: pretendard;font-weight: 700; color : #120946;}
.hamburger-btn-box > a:nth-child(2){font-size: 31px;font-family: futura-pt-bold;background: #F5F5F5;}
.hamburger-btn-box > a > img{width : 8vw; max-width: 60px;}

/**/

.footer{padding : 60px 80px;font-family: pretendard;background: #000;}
.footer-inner{width : 100%;max-width: 1740px;margin : 0 auto;position : relative;}
.footer-logo{/* width : 84px; */margin-bottom: 20px;;}
.footer-ul{display: flex;gap : 28px;color : #fff;font-size: 14px;letter-spacing: -0.02em;margin-bottom: 25px;}
.footer-ul > li{display: flex;align-items: center; position : relative;font-weight: 300;}
.footer-ul > li:not(:last-child)::after{position :absolute;content: '';width : 1px;height : 10px;background: #fff;right : -12px;}
.footer-info{font-size: 14px;margin-bottom: 22px;}
.footer-info > li{padding-left: 15px;position : relative;color : #7E7E7E;font-size: 14px;letter-spacing: -0.04em;line-height: 1.6em;}
.footer-info > li::before{position : absolute; content: '※';left : 0;;}
.footer-copy{font-family: montserrat;font-size: 14px;color : #7e7e7e}
.sigong{display: flex;justify-content: end;gap : 40px;white-space: nowrap;position : absolute;bottom : 0;right : 0;}
.sigong > li{display: flex;align-items: center;gap : 33px; color : #fff;letter-spacing: -0.02em;font-weight: 600;font-size: 13px;}
.sigong > li > span{display: flex;align-items: center; color : #414141;position : relative;}
.sigong > li > span::after{position : absolute;content: '';width : 1px;height : 10px; background: #414141;right : -14px;}
.footer-tel{font-size: 36px;font-family: CarismaClassic;}

@media(max-width : 1600px){
	.header{height : 80px;padding : 0 30px;}
	.header .customer > span{display : none}
	.header-nav > ul > li > a{font-size : 14px; padding : 0 15px;}
	.header-right{gap : 5px;}
	.customer-icon{width : 30px;}
	.header-tel-icon{width : 30px;height : 30px;}
	.header-tel{font-size : 18px;gap : 5px;}
}

@media(max-width : 750px){
	body.fixed{overflow : hidden;}
	.pcView{display : none !important}
	.moView{display: block !important}

	.header{padding : 0 3vw 0 5vw;height: auto;}
	.header-nav{display : none;}
	.header-inner{justify-content : space-between;align-items : center;padding-bottom: 0;height : 13.3333vw}
    .main-logo{width : 38.4000vw;height : 7.0000vw;}

    .header-right{gap : 1.7333vw}
    .header-tel{width : auto;height : auto;}
    .hamburger{width : 9.3333vw;height : 9.3333vw;display : flex;}
    .hamburger > span{height : 0.2667vw;}

    .hamburger-nav{padding : 13.3333vw 5.0667vw 0;display : block;}
    .hamburger-nav > ul > li > a{/* font-size : 3.2000vw; */;padding : 4.0000vw 0;}
    .hamburger-nav > ul > li > a::after{width : 1.3333vw;height : 1.3333vw;top : 1.3333vw;}
    .hamburger-nav > ul > li > ul > li > a{/* font-size : 2.4000vw; */padding : 2.0000vw;}

    .hamburger-btn-box > a{gap : 1.8667vw; font-size: 4.5000vw;padding : 1.5000vw 0;}
    .hamburger-btn-box > a:nth-child(2){font-size: 4.5vw;}

	.header-tel-icon{width : 30px;height : 30px;}
	.header-tel::after{display : none;}

	.footer{width : 100%;max-width: 750px;margin : 0 auto; padding : 56px 44px 47px;font-family: pretendard;background: #3A3A3A;}
	.footer-inner{width : 100%;max-width: 1740px;margin : 0 auto;position : relative;}
	.footer-logo{max-width : 175px;margin-bottom: 32px;;}
	.footer-ul{display: flex;flex-wrap : wrap; gap : 5px 28px;color : #fff;font-size: 14px;letter-spacing: -0.02em;margin-bottom: 25px;}
	.footer-ul > li{display: flex;align-items: center; position : relative;font-weight: 300;}
	.footer-ul > li:not(:last-child)::after{position :absolute;content: '';width : 1px;height : 10px;background: #fff;right : -12px;}
	.footer-info{font-size: 14px;margin-bottom: 22px;}
	.footer-info > li{padding-left: 15px;position : relative;color : #7E7E7E;font-size: 14px;letter-spacing: -0.04em;line-height: 1.6em;}
	.footer-info > li::before{position : absolute; content: '※';left : 0;;}
	.footer-copy{font-family: montserrat;font-size: 14px;color : #7e7e7e;margin-bottom: 56px;}
	.sigong{display: flex;justify-content: end;gap : 40px;white-space: nowrap;margin-left: auto;position : static;}
	.sigong > li{display: flex;align-items: center;gap : 33px; color : #fff;letter-spacing: -0.02em;font-weight: 600;font-size: 13px;}
	.sigong > li > span{display: flex;align-items: center; color : #414141;position : relative;}
	.sigong > li > span::after{position : absolute;content: '';width : 1px;height : 10px; background: #414141;right : -14px;}

	.footer{padding : 7.4667vw 5.8667vw 6.2667vw;}
    .footer-logo{width : 23.2493vw;margin-bottom: 4.2667vw;;}
    .footer-ul{font-size: 1.8667vw;margin-bottom: 3.3333vw; gap : 0.6667vw 3.7333vw;}
    .footer-ul > li:not(:last-child)::after{height : 1.3333vw;right : -1.6000vw;}
    .footer-info{font-size: 1.8667vw;margin-bottom: 2.9333vw;}
    .footer-info > li{padding-left: 2.0000vw;font-size: 1.8667vw;}
    .footer-copy{font-size: 1.8667vw;margin-bottom: 7.4667vw;}
    .sigong{gap : 5.3333vw;}
    .sigong > li{gap : 4.4000vw;font-size: 1.7333vw;}
    .sigong > li > span::after{height : 1.3333vw;right : -1.8667vw;}
}